.header {
  display: none;
}
.sidebar{
  padding-top: 20px;
}
[class*="col-sm"].sidebar{
  height: 100%;
}
.sidebar ul{
  list-style-type: none;
}
.sidebar ul>li{
  padding:10px 0;
}
.sidebar ul li a{
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 400;
}
.sidebar ul li .glyphicon{
  padding-right:15px;
}
.area{
  height:100%;
  overflow: scroll;
}


