body>.header {
  display: none;
}
.sidebar{
  padding-top: 20px;
}
[class*="col-sm"].sidebar{
  height: 100%;
}
.sidebar ul{
  list-style-type: none;
}
.sidebar ul>li{
  padding:10px 0;
}
.sidebar ul li a{
  width: 100%;
  height: 100%;
  font-size: 20px;
  font-weight: 400;
}
.sidebar ul li .glyphicon{
  padding-right:15px;
}
.area{
  height:100%;
  overflow: scroll;
}
.feedback {
  position:absolute;
  top:0;
  width:80%;
  padding: 5px 20px;
  margin: 0 5%;
  opacity: 0.8;
  text-align: center;
  color: black;
z-index: 99;
}
.feedback .close{
  position: absolute;
  top:0;
  right:0;
}
.form-error{
  margin-bottom: -6px;
}
.angular-leaflet-map{
  border: 2px inset white;
}
.angular-leaflet-map{
  height: 400px;
  width: 80%;
}

input[type='checkbox'],
input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border:none;
  border-radius: 0;
  font-size: 1em;
  width: 100%
}

/* graceful degradation for ie8 */
input[type='checkbox'],
input[type='radio'] {
  width:auto;
  float:left;
  margin-right: .75em;
  background:transparent;
  border:none;
}

input[type='checkbox']:checked,
input[type='checkbox']:not(:checked),
input[type='radio']:checked,
input[type='radio']:not(:checked) {
  background: transparent;
  position: relative;
  visibility: hidden;
  margin:0;
  padding:0;
}

input[type='checkbox'] + .tag,
input[type='radio'] + .tag {
  cursor: pointer;
}

input[type='checkbox']:checked + .tag::before,
input[type='radio']:checked + .tag::before{

}

input[type='checkbox']:not(:checked) + .tag::before,
input[type='radio']:not(:checked) + .tag::before,
input[type='checkbox']:checked + .tag::before,
input[type='radio']:checked + .tag::before{
  content:' ';
  display:inline-block;
  width: 17px;
  height:17px;
  position: absolute;
  left: 0;
  top:0;
  margin-right: 1em;
}

input[type='checkbox']:not(:checked) + .tag::after,
input[type='radio']:not(:checked) + .tag::after,
input[type='checkbox']:checked + .tag::after,
input[type='radio']:checked + .tag::after{
  content:'\2713 ';
  position: absolute;
  left: 3px;
  top:0;
}
input[type='checkbox']:not(:checked) + .tag::after,
input[type='radio']:not(:checked) + .tag::after{
  display: none;
}
input[type='checkbox']:checked + .tag,
input[type='radio']:checked + .tag{
  font-style: oblique;
}

.table{
  box-shadow: 0 0 1px grey;
}


.row-paddingbottom{
  padding-bottom: 20px;
}

#grundrissList canvas, #imageList canvas,#energieausweisList canvas{
  max-height: 200px;
  max-width: 100%;
  box-shadow: 0 0 2px black;
}

#imageList, #grundrissList,#energieausweisList {
 list-style-type: none;
  padding: 0 40px;
}

#imageList li,#grundrissList li,#energieausweisList li{
  padding: 4px 8px;
  border: 1px solid white;
  margin-bottom: 4px;
}


.padding-none{
  padding: 0;
}

.iconrow{

}
.panel-body{
  padding:0 15px;
}
.panel-body > .row{
  padding: 20px 0;
}
.croparea{
  padding:20px;
}