/*
grau : #ebf2fa

blau dunkel: #05668d
blau hell: #427aa1

grün hell: #a5be00
grün dunkel: #679436

*/
.sidebar{
  background: #f5f5f5;
  color: #427aa1;
  box-shadow: 4px 1px 2px -4px #111;
  padding: 0;
}

.sidebar ul{
  padding: 20px 0 0 0;
}
.sidebar ul li{
  padding: 0;
}
.sidebar ul li a{
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 20px;
}



.sidebar ul li:hover,.sidebar ul li:focus{
  background: #05668d;
  cursor: pointer;

}
.sidebar ul li:hover a,.sidebar ul li:focus a{
  text-decoration: none;
  color: #fff;
  font-weight: 700;
}

.sidebar ul .logout a{
  color: darkred !important;
}

input[type='checkbox']:not(:checked) + .tag::before,
input[type='radio']:not(:checked) + .tag::before,
input[type='checkbox']:checked + .tag::before,
input[type='radio']:checked + .tag::before{
  border: 1px solid #05668d;
  background: white;
}

input[type='checkbox']:hover  + .tag::before,
input[type='radio']:hover  + .tag::before {
  opacity: .6;
}

input[type='checkbox']:checked + .tag::before,
input[type='radio']:checked + .tag::before{
  background: #05668d;
}

input[type='checkbox']:checked + .tag::after,
input[type='radio']:checked + .tag::after{
  color: white;
}

.croparea{
  background-color: #fff;
}
.panel-body{
  background-color: #7eaccb;
}
.box-light{
  background-color: #427aa1;
}
.box-dark{
  background-color: #7ecbc4 ;
}

.panel-body h4{
  color: white;
}


