<div class="container" id="search">

    <div class="row">
        <div class="col-xs-12">
            <h2>Datensatz finden</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form class="form-inline" role="form" method="POST" id="myForm">
                <div class="form-group"><label class="control-label col-xs-2"><input type="text" name="go"
                                                                                     placeholder="GO! Nummer"
                                                                                     class="form-control"></label></div>
                <div class="form-group"><label class="control-label col-xs-3"><input type="text" name="strasse"
                                                                                     placeholder="Strasse"
                                                                                     class="form-control"></label></div>
                <div class="form-group"><label class="control-label col-xs-2"><input type="text" name="id"
                                                                                     placeholder="interne ID"
                                                                                     class="form-control"></label></div>

                <button class=" btn btn-primary " name="showFilterObjects" type="submit" ng-click="c_tool.exposeSearcOne()">suchen</button>
                <button class=" btn btn-danger" name="showAllObjects" type="submit" ng-click="c_tool.exposeSearchAll()">alle anzeigen</button>
            </form>


            <table id="searchResult" class="tablesorter">
                <thead>
                </thead>
                <tbody>
                </tbody>
            </table>
            <div id="noSearchResult"></div>

        </div>
    </div>

</div>