<div class="container">

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#menu1" id="button-admin_userprofile">Nutzerprofil</a></li>
        <li><a data-toggle="tab" href="#menu2" id="button-admin_manageusers">Nutzer verwalten</a></li>
        <li><a data-toggle="tab" href="#menu3">Systemeinstellungen</a></li>
    </ul>
    <div class="tab-content">
        <div id="menu1" class="tab-pane fade in active">
            <div id="area-admin_userprofile">
                <table id="table-admin_userprofile" class="tablesorter">
                    <thead>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div id="noSearchResult-admin_userprofile"></div>
            </div>
        </div>
        <div id="menu2" class="tab-pane fade">
            <div id="area-admin_manageusers">
                <table id="table-admin_manageusers" class="tablesorter">
                    <thead>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <div id="noSearchResult-admin_manageusers"></div>
            </div>
        </div>
        <div id="menu3" class="tab-pane fade">
            <div id="area-admin_config"></div>
        </div>
    </div>
</div>