{{c_tool.currentExpose}}
<div class="container" id="create">
    <!-- Titel -->
    <div class="row">
        <div class="col-xs-12">
            <h2 ng-show="c_tool.currentExpose.id">Datensatz bearbeiten</h2>
            <h2 ng-hide="c_tool.currentExpose.id">Datensatz erstellen</h2>
        </div>
    </div>
    <!-- Breadcrump -->
    <div class="row">
        <div class="col-xs-12">
            <span ng-show="c_tool.currentExpose.geschaeftsart" ng-click="c_tool.deleteProp('geschaeftsart')">{{c_tool.currentExpose.geschaeftsart}}</span>
            <span ng-show="c_tool.currentExpose.objektart" ng-click="c_tool.deleteProp('objektart')">{{c_tool.currentExpose.objektart}}</span>
        </div>
    </div>
    <!-- Geschäftsart -->
    <div class="row" ng-hide="c_tool.currentExpose.geschaeftsart">
        <div class="col-xs-12">
            <button ng-click="c_tool.currentExpose.geschaeftsart=1">Kauf</button>
            <button ng-click="c_tool.currentExpose.geschaeftsart=2">Miete</button>
        </div>
    </div>
    <!-- Objektart -->
    <div class="row" ng-hide="c_tool.currentExpose.objektart">
        <div class="col-xs-12">
            <button ng-click="c_tool.currentExpose.objektart=1">Haus</button>
            <button ng-click="c_tool.currentExpose.objektart=2">Wohnung</button>
            <button ng-click="c_tool.currentExpose.objektart=3">Grundstück</button>
        </div>
    </div>
    <div class="row" ng-show="c_tool.currentExpose.objektart && c_tool.currentExpose.geschaeftsart">
        <div class="col-xs-12">
            <h2>Awesome Form-Part</h2>
            <form>
                <div class="col-xs-12 col-md-12" id="accordion">
                    <h3>Adressangaben eingeben <span id="badge_adress" class="badge"></span></h3>
                    <div class="accordionContainer">
                        <div class="row">
                            <label class="control-label col-xs-6 col-md-offset-2 col-md-4">
                                <span>ID-Nummer</span>
                                <input type="text" id="go" name="go" placeholder="" class="form-control">
                            </label>
                            <label class="control-label col-xs-6 col-md-4">
                                <span>Exposé-Titel</span>
                                <input type="text" name="exposetitel" id="exposetitel" placeholder=""
                                       class="form-control">
                            </label>
                        </div>
                        <div class="row" id="address">
                            <label class="control-label col-xs-8 col-md-6 col-md-offset-2">
                                <span>Strasse</span>
                                <input type="text" name="strasse" id="strasse" placeholder="" class="form-control">
                            </label>
                            <label class="control-label col-xs-4 col-md-2">
                                <span>Hausnr </span>
                                <input type="text" name="hausnummer" id="hausnummer" placeholder=""
                                       class="form-control">
                            </label>

                            <label class="control-label col-xs-4 col-md-2 col-md-offset-2">
                                <span>PLZ</span>
                                <input type="text" name="plz" id="plz" placeholder="" class="form-control"
                                       pattern="[0-9]{4,5}">
                            </label>
                            <label class="control-label col-xs-8 col-md-6">
                                <span>Ort</span>
                                <input type="text" name="ort" id="ort" placeholder="" class="form-control">
                            </label>

                            <label class="control-label col-xs-6 col-md-4 col-md-offset-2">
                                <span>Bezirk</span>
                                <input type="text" name="bezirk" placeholder="" class="form-control">
                            </label>
                            <label class="control-label col-xs-6 col-md-4">
                                <span>Land</span>
                                <select name="land" id="land" class="form-control col-xs-12">
                                    <option value=""></option>
                                    <option value="1" selected>Deutschland</option>
                                    <option value="2">Österreich</option>
                                    <option value="3">Schweiz</option>
                                </select>
                            </label>
                        </div>
                        <div class="row">
                            <label class="col-xs-4 col-md-2 col-md-offset-2"><span class="btn btn-danger btn"
                                                                                   style="white-space: normal;"
                                                                                   id="getMap"> Lageplan
										erstellen</span>
                            </label>
                            <label class="col-xs-4 col-md-2" style="display: none;" id="parent_saveMap">
                                <span class="btn btn-default" style="white-space: normal;"
                                      id="saveMap"> Karte speichern</span>
                                <span class="text-success" style="display: none" id="saveMap_return">gespeichert &#10004;</span>
                            </label>

                            <div class="checkbox_custom col-xs-6 col-md-3">
                                <label class="">
                                    <input type="checkbox" name="showMap" checked="checked" id="showMap">
                                    <span>Im Exposé anzeigen</span>
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2">
                                <div id="map_element" style="display: block;">
                                    <img id="staticLageplan" style="width: 100%; display: none;">
                                </div>
                                <div id="mapErr"></div>
                            </div>

                        </div>
                    </div>
                    <!-- End Container -->
                </div>
            </form>
        </div>
    </div>
</div>
<!-- End Container -->
{{}}