<div class="container" id="search">

    <div class="row">
        <div class="col-xs-12">
            <h2>Datensatz finden</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <form class="form-inline" role="form" method="POST" id="myForm">
                <div class="form-group">
                    <label class="control-label col-xs-2">
                     <input id="es_go" type="text" name="es_go" placeholder="Expose-Nummer" class="form-control"
                            ng-model="c_tool.searchObj.formdata.nummer" ng-model-options="{ debounce: 50 }">
                    </label>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">
                        <input id="es_strasse" type="text" name="es_strasse" placeholder="Strasse" class="form-control"
                               ng-model="c_tool.searchObj.formdata.strasse" ng-model-options="{ debounce: 50 }">
                    </label>
                </div>
                <div class="form-group">
                    <label class="control-label col-xs-2">
                        <input id="es_id" type="text" name="es_id" placeholder="Datenbank-ID" class="form-control"
                               ng-model="c_tool.searchObj.formdata.id" ng-model-options="{ debounce: 50 }">
                    </label>
                </div>


                <button class=" btn btn-primary " name="showFilterObjects" type="submit" ng-click="c_tool.exposeSearch(true)">suchen</button>
                <button class=" btn btn-danger" name="showAllObjects" type="submit" ng-click="c_tool.exposeSearch()">alle anzeigen</button>
            </form>




        </div>
    </div>
    <div class="row" ng-show="c_tool.resultAll_tableParams">
        <div class="col-xs-12">
            <h3>Ergebnis</h3>
        </div>

        <div class="col-xs-12">
            <table ng-table-dynamic="c_tool.resultAll_tableParams with c_tool.cols" class="table table-condensed table-bordered table-striped">
                <tr ng-repeat="row in $data">
                    <td ng-repeat="col in $columns">
                        <span ng-if="col.dataType !== 'command'">{{row[col.field]}}</span>
                        <div ng-if="col.dataType === 'command'">
                            <button class="btn btn-default btn-sm" title="Datensatz bearbeiten" ui-sref="tool.exposeOne({exposeid: row.id})"><span class="glyphicon glyphicon-pencil"></span></button>
                            <button class="btn btn-success btn-sm" title="PDF erstellen"  ng-click="c_tool.pdf(row)"><span class="glyphicon glyphicon-file"></span></button>
                            <button class="btn btn-danger btn-sm" title="Datensatz löschen" ng-click="c_tool.del(row)"><span class="glyphicon glyphicon-trash"></span></button>
                        </div>
                    </td>

                </tr>
            </table>
        </div>
    </div>
</div>